<nav class="navbar navbar-inverse">
  <ol class="nav navbar-nav">
    <li>
      <a routerLink='/'>Home</a>
    </li>
    <li>
      <a routerLink='/addemp'>Add Employee</a>
    </li>
    <li>
      <a routerLink='/deleteemp'>Delete Employee</a>
    </li>
    <li>
      <a routerLink='/updateemp'>Update Employee</a>
    </li>
    <li>
      <a routerLink='/getemp'>Get Employee</a>
    </li>
    <li>
      <a routerLink='/listemp'>List Employee</a>
    </li>
  </ol>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>